<mat-toolbar color="primary">

  <mat-toolbar-row>
    <span>LP Image Generator</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>


<section>
  <form [formGroup]="imageInput" class="upload-form">
    <input #img type="file" accept="image/*" name="image" id="image">

    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" placeholder="Your Name">
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="uploadImage()">Upload</button>
  </form>


  
  <div>
    <img #imageDisplay src="" height="200" alt="Image preview...">
  </div>
</section>

<!--
  do a page for feedback.

-->